body, html {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: #F58787;
  font-family: 'Inter', sans-serif;
}


.mainContainer {
  background-image: url("images/bckg.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.section2 {
  padding: 10vmin;
  text-align: center;
  background-color: rgba(255,255,255, 0.95);

}

.section2 > h2 {
  font-size: 7vmin;
  color: #19ADD8;
}

.section2 > h3 {
  font-size: 10vmin;
  color: #FF8000 ;
}

.section2 > p {
  font-size:5vmin;
}



.title > h4 {
  font-size: 3vmin;
  text-align: center;
  color: white;
}

.title > p {
  margin-top: 25vmin;
  font-size: 2.5vmin;
  text-align: center;
  color: rgb(0,0,0,0.4);
}

.navbar {
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  overflow: auto;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  float: left;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}

.navbar a:hover {
  color: #fff;
  text-shadow:
    0 0 10px #FFA004,
    0 0 20px #FFA004,
    0 0 40px #FFA004
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 18.5px;
  margin-left: 16.7vmin;
  margin-right: 16.5vmin;
  cursor: pointer;
  transition: 0.3s;
}



.dropdown-content {
  position: absolute;
  margin-left: 12.7vmin;
  background-image: url("images/bckg.gif");
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  margin-left: 6vmin;
}

.dropdown-content a:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;

}


.sound {
  width: 20vmin;
  height: 20vmin;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sound a {
  cursor: pointer;
  color: rgb(0,0,0,0.6);
  font-size: 2.5vmin;
  transition: 0.5s;
}

.sound a:hover {
  color: #fff;
  text-shadow:
    0 0 10px #FFA004,
    0 0 20px #FFA004,
    0 0 40px #FFA004,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
  font-size: 3vmin;
}


/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  font-size: 7vmin;
  color: #fff;
  text-align: center;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
}


.scrollFunction {
  color: white;
  text-align: center;
}

#row1,#row2, #row3{
  display: flex;
}


#row2 {
  background-color: rgb(225,225,225,0.5)
}

/* Create two equal columns that sits next to each other */
#column1, #column2 {
  flex: 50%;
  padding: 10px;
}

#column1 > p {
  text-align: left;
  font-size: 7.5vmin;
  padding: 80px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/pic1.jpg");
  /*border: 2px solid #FF8000;*/
}

#column2 > p {
  text-align: center;
  font-size: 3.5vmin;
  padding: 5vmin;
  margin-top: 21vmin;
}

#column3 > p {
  text-align: center;
  font-size: 3.2vmin;
  margin-left: 5vmin;
  margin-top: 23vmin;
  margin-right: 5vmin;
  transition: 0.5s;
}


#column4 > p {
  text-align: left;
  font-size: 7.5vmin;
  padding: 12vmin;
  margin-right: 8vmin;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/pic2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#column5 > p {
  text-align: left;
  font-size: 7.5vmin;
  padding: 80px;
  color: white;
  margin-right: -130px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/pic3.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}


#column6 > p {
  text-align: center;
  font-size: 3.5vmin;
  margin-left:26vmin;
  margin-top: 32vmin;
  transition: 0.5s;
}

.scrolling > p {
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 4vmin;
  margin-top: -12vmin;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
  transition: 0.3s;
}

.scrolling p:hover {
  font-size: 5vmin;
}

/*--------------------------Resource Page------------------------------*/

.mainContents {
  background-image: url("images/res2.jpg");
  text-align: center;
  font-size:8vmin;
  color: white;
  font-family: monospace;

  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

hr {
  border:none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4vmin;
  grid-row-gap: 4vmin;
  padding: 7vmin;
}

.contentItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2vmin;
  background-color: rgba(255, 255, 204, 0.3);

}

#locationGrid {
  background-color: #F58787;
}

#professionalGrid {
  background-color: #EA5D8C;
}

.contentTitle {
  display: flex;
  font-size: 3vmin;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.contentLoc {
  display: flex;
  color: #FADBD8;
  text-align: center;
  font-size: 2.5vmin;
  font-family: 'Inter', sans-serif;
}

.contentHours {
  display: flex;
  color: #FADBD8;
  text-align: center;
  font-size: 2.5vmin;
  font-family: 'Inter', sans-serif;
}

.contentNumber {
  display: flex;
  color: #FADBD8;
  text-align: center;
  font-size: 2.5vmin;
  font-family: 'Inter', sans-serif;
}

.webLink {
  display: flex;
  text-align: center;
  font-size: 2vmin;
  font-family: 'Inter', sans-serif;
}

.grid a {
  transition: 0.2s;
}

  .grid a:hover {
    font-size: 3vmin;
    background-image: none;
    color: #FFFC00;
  }

  .grid :hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/bckg.gif");
  }



/*--------------------------Article Page------------------------------*/
  .socialHeader {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/social.png");
    height: 60vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .socialHeader > p {
    font-size: 10vmin;
    color: #fff;
      text-shadow:
        0 0 5px #fff,
        0 0 2px #fff
  }

#articleArea{
    padding: 10vmin;
    text-align: center;
    background-color: rgba(255,255,255, 0.95);
  }

.mainArticle {
    background-image: url("images/bckg.gif")

    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;

  }

#antiSocial {
  font-size: 8vmin;
  padding: 8vmin;
  margin-top: -4vmin;
}

#column1a, #column2a {
  flex: 50%;
  padding: 10px;
}

#column1a {
  background-image: url("images/addict.gif");
  background-repeat: no-repeat;
  background-size: cover;
  /*border: 2px solid #FF8000;*/
}

#column1a > p {
  font-size: 10vmin;
  text-align: center;
  color: white;
  margin-top: 8vmin;
}

#row1a {
  background-color: #CB3F34;
  color: white;
}

#column2a > p {
  text-align: left;
  font-size: 3.5vmin;
  padding: 5vmin;
  margin-top: 10vmin;
}

#column3a > p {
  text-align: center;
  font-size: 4vmin;
  margin-left: 5vmin;
  margin-top: 15vmin;
  margin-right: 5vmin;
  margin-bottom: 10vmin;
  transition: 0.5s;
}

#column4a {
  background-image: url("images/compare.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

#column4a > p {
  text-align: left;
  font-size: 10vmin;
  padding: 10vmin;
  margin-right: 8vmin;
  color: black;
  margin-top: 10vmin;
  margin-bottom:5vmin;
}

#column5a {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/alone.gif");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10vmin;
}


#column5a > p {
  text-align: left;
  font-size: 7.5vmin;
  padding: 80px;
  color: white;

}


#column6a > p {
  text-align: left;
  font-size: 4vmin;
  margin-left: 5vmin;
  margin-top: 15vmin;
  margin-right: 5vmin;
  margin-bottom: 10vmin;
  transition: 0.5s;
}

#row3a {
  margin-top: 10vmin;
  color: white;
  background-color: black;
}

#row1a,#row2a, #row3a{
  display: flex;
}

#row2a {
  margin-top: 10vmin;
  background-color: #FFF8C2;
}

/*--------------------------Contact Page------------------------------*/

.mainContact {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.mainContact > h1 {
  font-size: 10vmin;
  text-align: center;
  color: #FFEB90;
}

.mainContact > h3 {
  font-size: 8vmin;
  text-align: center;
  color: white;
  margin-left: 12vmin;
  margin-right: 12vmin;
}



/* couldn't figure out the boxes :( so wasn't able to finish this adaption just yet */
@media only screen and (max-width: 480px) {
  body {
    font-size: 1vmin;
    padding: 1vmin;
  }
}


@media only screen and (max-width: 768px) {
  body {
    font-size: 4vmin;
    padding: 2vmin;
  }
}
